# Byggmappar och binärer
build/
*.elf
*.bin
*.hex
*.uf2
*.map
*.dis
*.o
*.obj
*.d
*.a

# "Kladdpapper"
src/scratch
src/scratch.txt
preview_printf.sh
scratch
printf_extract.py


# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CmakeLists.txt
build.sh


# VS Code
.vscode/
*.code-workspace
.vscode/*

# Mac-specifikt
.DS_Store

# Git-specifika filer
*.gitignore
.gitignore

# Python (om du har Python-filer)
__pycache__/
*.pyc
*logger.py

# Loggar
*.log
ableton_remote/NiklasBTControl/logger.py

# Backup-filer
*~
*.swp
*.swo

# hjälpscript
install_remote_script.sh